.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#root {
  height: 100vh;
  width: 100%;
  background: linear-gradient(45deg, #489ca6 12%, transparent 0, transparent 88%, #489ca6 0),
    linear-gradient(135deg, transparent 37%, #006d77 0, #006d77 63%, transparent 0),
    linear-gradient(45deg, transparent 37%, #489ca6 0, #489ca6 63%, transparent 0) #00424b;
  background-size: 25px 25px;
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
